.DS_Store
.config/raycast/extensions
.config/nvim/lazy-lock.json
.config/github-copilot
.claude/projects/
.claude/statsig/
.claude/todos/
/.claude/ide
/.claude/shell-snapshots
/.claude/file-history
/.claude/debug
.claude/history.jsonl
/.config/zed/prompts/prompts-library-db.0.mdb
Brewfile.lock.json
/.claude/plans
.claude/stats-cache.json
