.DS_Store
.config/raycast/extensions
.config/direnv/
.config/git/config
.config/git/ignore
.config/nvim/lazy-lock.json
.config/github-copilot
.config/tmux/tmux.conf
/.claude/*
!/.claude/.gitignore
/.config/zed/prompts/prompts-library-db.0.mdb
/.codex/*
!/.codex/.gitignore
.config/sops/age/keys.txt
