*
.DS_Store
!/.gitignore
!/.commands/
!/.commands/**
!/CLAUDE.md
!/agents/
!/agents/**
!/commands/
!/commands/**
!/notify.sh
!/settings.json
!/skills/
!/skills/**
!/statusline.sh
!/statusline.py
**/.DS_Store
