*
.DS_Store
!/.gitignore
!/.commands/
!/.commands/**
!/CLAUDE.md
!/agents/
!/agents/**
!/commands/
!/commands/**
!/notify.sh
!/settings.json
!/skills/
!/skills/find-skills/
!/skills/find-skills/**
!/skills/frontend-ui-ux-engineer/
!/skills/frontend-ui-ux-engineer/**
!/skills/game-idea-generator-with-loop/
!/skills/game-idea-generator-with-loop/**
!/skills/next-best-practices/
!/skills/next-best-practices/**
!/skills/setup-pixel-perfect/
!/skills/setup-pixel-perfect/**
!/skills/tailwind-css-patterns/
!/skills/tailwind-css-patterns/**
!/skills/ui-ux-pro-max/
!/skills/ui-ux-pro-max/**
!/skills/uloop-launch/
!/skills/uloop-launch/**
!/statusline.sh
**/.DS_Store
